@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../assets/fonts/PantonExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #f5f7fa;
    font-family: 'Proxima Nova', sans-serif;
}

h1, h2, h3 {
    font-family: 'Panton', sans-serif;
    color: #315AB6;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 60px;
    height: 40px;
}

.title {
    max-width: 400px;
    text-transform: uppercase;
}

.legend {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 15px;
}

.legend-item-ready {
    color: #4CAF50;
}

.legend__item-not-ready {
    color: #E0E0E0;
}

.machines-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 20px;
}

@media (max-width: 1024px) {
    .machines-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .machines-grid {
        grid-template-columns: 1fr;
    }

    .app-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.machine-card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    line-height: 120%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.machine-card.hovered {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.machine-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #666;
}

.date {
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
    color: #333;
    margin-right: 20px
}

.machine-name {
    max-width: 100px;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 120%;
    color: #333;
    text-align: right;
}

.progress-container {
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
}

.operator {
    font-weight: bold;
    color: #315AB6;
    margin-top: 10px;
}

.css-circle {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.css-circle:hover {
    transform: scale(1.05);
}

.circle-fill {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.circle-text {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    z-index: 2;
}

.interactive-circle {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interactive-circle:hover {
    transform: scale(1.05);
}

.progress-bar-custom text {
    font-weight: bold;
    dominant-baseline: middle;
    text-anchor: middle;
    transform: translate(3px, 3px);
}
